@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inter:wght@700&family=Noto+Sans+Mono:wght@300;500&family=Playfair+Display:wght@800&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inter:wght@500&family=Noto+Sans+Mono:wght@300;500&family=Playfair+Display:wght@800&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');
#body2{
    background-color:#181818;
    color: rgb(255, 255, 255);
    margin: 10; 
    padding: 10;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: 'Inter', sans-serif;
}

h1{
    position: relative;
    top: 100px;
    left: 80px;
}

#artistsBOX{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

#flex-box{
    flex: '0 0 20%';
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31, 1);
    margin: 10px; /* Define a margem entre os itens */
    padding: 20px;
    width: 170px;
    height: 220px;
    Top: 120px;
    Left: 80px;
    border-radius: 13px;
    margin-bottom: 30px;
}

#imagemArtistas{
    width: 140px;
    height: 140px;
    top: 232px;
    left : 1207px;
    border-radius: 100px;
}

#artist{
    color: rgba(140, 140, 140, 1);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    top: 0px;
    left: 0px;
}

#nomeArtistas{
    font-weight: 700;
    font-size: 15px;
}
