@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inter:wght@700&family=Noto+Sans+Mono:wght@300;500&family=Playfair+Display:wght@800&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&display=swap');

.SideBar{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 191px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

#iSpotify{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.Outlet{
    position: absolute;
    left: 230px;
    top: -60px;
}

.playlist, .test1, .favoriteSongs{
    text-decoration: none;
    display: block; 
}

.links{
    position: relative;
    left: 100px;
    text-decoration: none;
    color: #CCCCCC;
}

#favoriteSymbol{
    font-variation-settings:'FILL' 1, 'wght' 400, 'GRAD' 0,'opsz' 24;
    margin-top: 10px;

}

.myLink{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.myLink:visited{
    color: #CCCCCC;
}

