.SideBar{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 191px;
    height: 1000px;

}

.Outlet{
    position: absolute;
    left: 230px;
    top: -60px;
}
